[submodule "closure-library"]
	path = closure-library
	url = https://github.com/google/closure-library.git
[submodule "blockly"]
	path = blockly
	url = https://github.com/awmorp/blockly.git
[submodule "blockly-type-indicator"]
	path = blockly-type-indicator
	url = https://github.com/awmorp/blockly-type-indicator.git
