  <div id="headerbar">
    <div id="titlebar">
      <img src="images/logo-transparent.png" alt="Math Blocks"/ style="width: 173px; height: 43px;">
      <div id="tagline">Visual blocks for mathematical syntax</div>
    </div>
    <div id="navbar">
      <div>
        <!--<div style="font-style: italic; font-size: smaller;">Navigation:</div>!-->
        <div id="menulist">
          <a class="menuitem" href="../index.html">Front page</a>
          <div class="menuitem">
            <a href="javascript:" onclick="return(false)">Demos</a>
            <div class="submenulist">
              <a class="menuitem" href="builder.html">Builder</a>
              <a class="menuitem" href="translation-exercise.html">Translation exercise</a>
              <a class="menuitem" href="limit-exercise.html">Limit definition exercise</a>
              <a class="menuitem" href="logic-exercise.html">Logic exercises</a>
              <a class="menuitem" href="vectors.html">Vectors demo</a>
            </div>
          </div>
          <a class="menuitem" href="index.html">About</a>
        </div>
      </div>
    </div>
  </div>