<div id="maindiv">
  <div id="headerbar">
    <div id="titlebar">
      <img src="../images/logo-transparent.png" alt="Math Blocks"/ style="width: 173px; height: 43px;">
      <div id="tagline">Visual blocks for mathematical syntax</div>
    </div>
    <div id="navbar">
      <div>
        <!--<div style="font-style: italic; font-size: smaller;">Navigation:</div>!-->
        <div id="menulist">
          <a class="menuitem" href="index.html">Front&nbsp;page</a>
          <a class="menuitem" href="index.html">Demos</a>
          <a class="menuitem" href="index.html">About</a>
        </div>
      </div>
    </div>
  </div>
</div>
