body {
  font-family: sans-serif;
  margin-top: 0;
}

li {
  margin: 6px 6px;
}

.textcontent {
  margin-left: 20px;
  margin-right: 20px;
}

.medspace p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

h4 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#headerbar {
  padding: 5px;
  background: #eeeeee;
/*  border: 1px solid red; */
  position: relative;
}

#tagline {
  display: inline;
/*  margin-left: 30px; */
  font-style: italic;
}

.largeheader #tagline {
  display: block;
  margin-left: 30px;
  font-style: italic;
  font-size: large;
}

#titlebar {
  display: inline-block;
}

#navbar {
/*  float: right; */
/*  border: 1px solid green; */
}

#menulist {
  text-align: justify;
  padding-top: 6px;
  vertical-align: top;
  position: absolute;
  right: 14px;
  top: 0;
}

.menuitem {
  display: inline-block;
/*  border: 1px solid blue; */
  padding: 6px;
/*  width: 30%;*/
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid grey;
  background: #d2d2d2;
  vertical-align: top;
}
.menuitem:hover {
  background: #ebdff8;
}

.submenulist {
  display: block;
  height: 0;
}

.submenulist .menuitem {
  display: block;
  visibility: collapse;
  margin-top: 0;
}

.menuitem:hover + .submenulist, .menuitem + .submenulist:hover,
.menuitem:hover > .submenulist, .menuitem > .submenulist:hover {
  height: 100%;
}

.menuitem:hover + .submenulist .menuitem, .menuitem + .submenulist:hover .menuitem,
.menuitem:hover > .submenulist .menuitem, .menuitem > .submenulist:hover .menuitem {
  visibility: visible;
  margin-top: 5px;
//  position: relative;
}

.submenulist .menuitem:hover {
  background: #c8bdd2;
}