/* Obsolete rules from older versions */
.modal-dialog-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FFF;
}

.modal-dialog {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  background-color: #eee;
  border: 2px solid #999;
}

.modal-dialog-title {
  position:relative;
/*    background: #C3D9FF; */
  padding: 4px;
  font: bold 11px verdana;
  cursor: default;
}

.modal-dialog-content {
/*    background: #E8EEF7; */
  padding: 12px 18px 12px 18px;
  font: normal 12px verdana;
}

.modal-dialog-userInput {
  font: normal 12px verdana;
  width: 90%;
}

.modal-dialog-buttons {
/*    background: #E8EEF7; */
  padding: 4px;
  font: normal 12px verdana;
  text-align: right;
}

.modal-dialog-buttons button {
  margin: 5px;
}
